// Color variables
$primary-color: #721817;
$secondary-color: #F2EAE9;
$text-dark: #150505;
$text-light: #E5D5D4;

// Font variables
$font-family: 'Roboto', sans-serif;
$font-size-base: 1rem;

// Spacing variables
$spacing-x-small: 5px;
$spacing-small: 10px;
$spacing-medium: 15px;
$spacing-large: 30px;